body {
    padding-top: 70px;
}

.container {
    margin-top: 20px;
}

.menu-item {
    padding: 10px;
}

.menu-item.active {
    color: white;
}

.form-group label {
    font-weight: bold;
}

#json-output {
    margin-top: 10px;
}
